venv
*.synctex.gz
*.fdb_latexmk
.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

LunarLander/__pycache__
8PuzzleProblem/__pycache__
Connect4Player/__pycache__
TaxiDriverProblem/__pycache__
__pycache__

LunarLander/data/
LunarLander/DoubleDeepQLearning/data